<!--
  Feel free to delete everything here to start your project!
  All the best! :)
 -->
<div class="parallax bg1">
  <div class="caption">
    <span class="border">
      SCROLL DOWN
    </span>
  </div>
</div>
<div class="content-box">
  <h2>GFK Angular Test</h2>
  <hr size="2" color="grey">
  <br>
    <p>An Angular application that will be used as a starting guide for candidates to implement the assignment.</p>
    <p>If you're seeing this, it works! Do refer to the README for more details</p>
  <h3>Application Scenario</h3>

    <p>We would like a simple application to order a pizza.</p>
    <ul>
      <li>The default page would allow the user to select between Pick Up or Delivery</li>
      <li>Once selected, the app should load the 5 types of pizza we offer (Picture not required)
        <ul>
          <li>Chonky Chicken 10$</li>
          <li>Beef Barbeque 12$</li>
          <li>Hawking Hawaiian 10$</li>
          <li>Margeret's Margherita 8$</li>
          <li>Vegan Villa Vista 8$</li>
        </ul>
      </li>
      <li>Selecting a pizza should give the user a few options:
        <ul>
          <li>Select the size (Small, Medium, Large)</li>
          <li>Select if they would like extra cheese (Yes or No)</li>
          <li>Select the quantity</li>
        </ul>
      </li>
      <li>The user is allowed to select multiple pizzas</li>
      <li>The user is also allowed to remove pizzas</li>
      <li>Once the order is complete they can proceed to checkout</li>
      <li>The checkout should display a summary of their order including the pizzas'
        <ul>
          <li>Sizes</li>
          <li>Cheese</li>
          <li>Quantity</li>
          <li>Total price</li>
          <li>And method of delivery</li>
        </ul>
      </li>
      <li>Have a button to confirm the user order which will thank the user before redirecting them to the main page</li>
      <li>And another button that cancels the order and goes straight back to the main page</li>
      <li>If the user navigates to unknown pages (Such as writing on the URL), redirect them to a generic "Page not found"</li>
    </ul>
    <br>
    <p>Do feel free to delete the contents of the html and scss (and global scss!) files to start from scratch!</p>
</div>
<div class="parallax bg2">
  <div class="caption">
    <span class="border end">
      Good luck!
    </span>
  </div>
</div>
